<div class="col-md-6 col-md-offset-3">
  <h3>Work with us</h3>
  <form (ngSubmit)="onSend()" #f="ngForm">
    <input autocomplete="false" name="hidden" type="text" style="display:none;" />
    <div class="form-group row">
      <div class="col-md-12">
        <input
          ngModel
          type="text"
          name="contactFullName"
          placeholder="Full name"
          class="form-control"
          #fullname="ngModel"
          required
        />
        <p *ngIf="!fullname.valid && fullname.touched">Please enter your name!</p>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <input
          ngModel
          type="email"
          name="contactEmail"
          placeholder="Email"
          class="form-control"
          #email="ngModel"
          email
          required
        />
        <p *ngIf="!email.valid && email.touched">Please enter a valid email!</p>
      </div>
    </div>
    <div class="form-group row" style="display:none;">
      <div class="col-md-12">
        <input [(ngModel)]="this.contactSource" type="text" name="contactSource" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <textarea
        ngModel
        name="contactContent"
        class="form-control"
        placeholder="Why would you like to work with us?"
        rows="3"
        #textarea="ngModel"
        required
      ></textarea>
      <p *ngIf="!textarea.valid && textarea.touched">Text area can not be empty!</p>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <button type="submit" class="btn-general submit" [disabled]="!f.valid">Send</button>
      </div>
    </div>
  </form>
</div>
