<div class="col-md-10 col-md-offset-1">
  <form (ngSubmit)="onSignin(f)" #f="ngForm">
    <div class="form-group row">
      <label for="email">eMail</label>
      <input type="email" id="email" name="email" ngModel class="form-control" #email="ngModel" email required />
      <p *ngIf="!email.valid && email.touched">Please enter a valid email!</p>
    </div>
    <div class="form-group row">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" ngModel class="form-control" />
      <!-- <p *ngIf="!this.passwordCorrect">Invalid username or password!</p> -->
    </div>
    <div class="form-group row">
      <p routerLink="/forgotten-pass">Forgotten password</p>
    </div>
    <button class="btn-general submit" type="submit">Sign In</button>
  </form>
</div>
