form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    /* font-size: 17px; */
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}

::placeholder {
    color: #fff;
  }