/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

p, label {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #fff;
    text-transform: uppercase;
}

.mat-input-element:disabled {
    color: rgba(0,0,0,1);
}

/* .mat-tab-body-content {
    display: inline-grid;
} */

.mat-radio-outer-circle {
    border-color: white;
}

.mat-checkbox-frame {
    border-color: rgba(255,255,255,1) !important;
}

.mat-radio-button .mat-accent .mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(66, 134, 244);
}

#home-content-box-inner {
    padding-top: 55px;
}

.mat-dialog-container {
    max-height: 50vw !important;
    opacity: 0.9 !important;
    /* margin-top: 100px; */
  }

.mat-dialog-content{
    overflow: hidden !important;
    display: initial !important;
}

/*====================================================
                        PARALLAX (Generic)
======================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*====================================================
                        BUTTONS (Generic)
======================================================*/

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    color: white;
}

.btn-general:hover {
    background: #34c6d3;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}

.submit{
    float: right;
}

/*====================================================
                       ANIMATE
======================================================*/

#home-cover,
#home-heading,
#home-btn {
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
}

#home-cover {
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}

#home-heading {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}

#home-btn {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}


/*====================================================
                       CONTENT (Generic)
======================================================*/

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}

.green-class {
    color: white;
    background: green;
}

.mat-select-arrow, .mat-select-placeholder, .mat-select-value {
    color: #fff;
}
